body {
  font-family: Verdana, sans-serif;
  padding: 0px 20px;
  font-size: 12px;
}

header {
  color: #111;
  font-size: 0.9em;
  text-align: right;
}
header a, header a:visited {
  color: #111;
}

#logo {
  position:relative;
  top:25px;
  left:40px;
  display:inline;
  font-family: 'Irish Growler', serif;
  text-shadow: 4px 4px 4px #ddd;
  font-size: 75px;
  font-weight: 400;
  text-align: left;
/*  margin-top: 70px;
  margin-left: 70px;*/
  text-decoration: none;
  text-transform: none;
  letter-spacing: 0em;
  word-spacing: 0em;
  line-height: 1.2;
}

#content {
  margin: 0px auto;
  margin-top: 100px;
  margin-bottom: 100px;
  width: 500px;
  padding: 40px;
  background: #dfdfdf;
  -moz-border-radius: 15px;
  border-radius: 15px;
}
label {
  font-size: 2.2em;
  font-weight: bold;
  display: block;
}
input {
  font-size: 2.2em;
  padding: 5px;
  border: 1px solid #bbb;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
input.new {
  color: #ccc;
  width: 480px;
}
footer {
  color: #ccc;
  text-align:right; 
  padding: 20px;
  font-size: .8em;
}
footer a, footer a:visited {
  color: #ccc;
}
a, a:visited { text-decoration: none; }
a:hover { text-decoration: underline; }
p.buttons { text-align: right; }
p.buttons input {
  border: 1px solid #000;
  font-size: 18px;
  padding: 5px;
}

.user {}
.user .avatar { float: left; width: 55px; border: 1px coral solid; clear:both }
.user .info {margin-left: 84px;}
.user .info h2 { margin: 0px; padding: 0px; font-size: 18px; }
.user .info p { margin: 0px; font-size: 12px; }
