%li.result
  .avatar
    = image_tag user.avatar_url
  .info
    %h2= user.name
    = mail_to user.email, "Invite To Pair", :subject => "Invitation to Pair Program", :class => "button blue bigrounded", :id => user.id
    %p{:class => 'weapons'}= user.weapons
  .profile_info
    %a{:href => "#"}
      %img{:alt => "Twitter", :src => "images/icons/twitter.png"}/
    %a{:href => "#"}
      %img{:alt => "github", :src => "images/icons/github.png"}/