%li.result
  .avatar
    = image_tag user.avatar_url
  .info
    %h2= user.name
    %p{:class => 'weapons'}= user.weapons 
  .profile_info	
    %a{:href => "#"}
      %img{:alt => "Twitter", :src => "images/icons/twitter.png"}/
    %a{:href => "#"}
      %img{:alt => "github", :src => "images/icons/github.png"}/