<form action='/profiles' method='GET'>
  <label for='city'>Find A Pair</label>
  <input name='city' type='text' value='City' class='new' /> 
  <p class='buttons'>
    <%= submit_tag "Search" %>
  </p>
</form>
